.main-embla {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  position: relative;
  --slide-height: 335px;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.main-embla__viewport {
  overflow: hidden;
}
.main-embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.main-embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.main-embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.main-embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.main-embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.main-embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 0;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(213.88deg, #80bf90 -67.78%, #4b9491 175.48%);
  border-radius: 50%;
  position: absolute;
  top: 45%;
}

.main-embla__button--next{
  right: -90px;
}

.main-embla__button--prev{
  left: -90px;
}

.inside-arrow {
  background: linear-gradient(322.12deg, #80bf90 1.25%, #4b9491 89.56%);
  width: 70%;
  height: 70%;
}

.main-embla__button:disabled {
  color: var(--detail-high-contrast);
}
.main-embla__button__svg {
  width: 35%;
  height: 35%;
}

.bg {
  background-image: url(../../../assets/img/Carousel.jpg);
  width: 100%;
  height: 100%;
}
